/* Reset */
body, h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none; }

/* Base styles */
html, body {
  height: 100%; }

html body {
  overflow-x: hidden;
  font-family: 'Indie Flower';
  background-color: var(#f4f4f4); }

.navbar-toggler {
  font-size: 1rem; }

.container-fluid {
  padding: 0; }

.content {
  height: 75%; }

.main-picture {
  background-image: url("../assets/img/main.jpg");
  background-size: cover;
  background-position: center; }

/* Fonts */
@font-face {
  font-family: 'Indie Flower';
  src: url("../assets/fonts/IndieFlower-Regular.ttf"); }

h1, h2, a {
  text-transform: uppercase; }

h1 {
  font-size: 2.5rem; }

.fa {
  color: var(#000000); }

.fa:hover {
  color: var(#000000);
  opacity: 0.5; }

#header {
  background-color: #f4f4f4; }

#footer {
  height: 10%;
  background-color: var(#f4f4f4); }

/* Mobile styles */
@media screen and (max-width: 767px) {
  a, p, .fa {
    font-size: 1rem; }
  .content {
    height: 80%; }
  .vh-50 {
    height: 50vh; } }

@media screen and (min-width: 768px) {
  a, p, .fa {
    font-size: 1rem; }
  .navbar-brand {
    font-size: 2.5rem; }
  .vh-50 {
    height: 60vh; } }

/* Desktop styles */
@media screen and (min-width: 1024px) {
  #header {
    height: 15%; }
  a, p, .fa {
    font-size: 1.5rem; }
  .navbar-brand {
    font-size: 3rem; }
  .vh-50 {
    height: 75vh; } }
