* { 
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
 }

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.container {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto 75% auto;
}

#header {
    padding-top: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.w-90 {
    width: 90%;
    margin: auto;
}

.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar ul {
    display: flex;
}

.navigation-bar ul li {
    list-style: none;
    margin: 20px;
}

.navigation-bar a {
    font-size: 20px;
    text-decoration: none;
}

.navigation-bar a:hover {
    background-color: #000000;
    color: #ffffff
}

#main {
    background-image: url("../img/main.jpg");
    background-position: center;
    background-size: cover;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35px; 
    background: #f4f4f4;
}

#footer p {
    text-align: center; 
}

.content {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 {
    text-align: center;
    font-size: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20%;
    height: 200px;
    margin: 50px;
}

.card h3 {
    text-align: center;
    background-color: #f4f4f4;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-e {
    width: 30%;
    height: 300px;
    margin: 50px;
}

.card-e h3 {
    text-align: center;
    background-color: #f4f4f4;
}

.card-e iframe {
    width: 100%;
    height: 300px;
}

.card-about {
    width: 400px;
    margin: 50px;
}

.card-about p {
    background-color: #f4f4f4;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    width: 30%;
}

.contact-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}