/* Root */
html, body {
  height: 100%; }

/* Reset */
body, h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.link {
  color: white !important; }

/* Fonts */
@font-face {
  font-family: 'Comfortaa';
  src: url("../assets/fonts/Comfortaa-VariableFont_wght.ttf"); }

h1, h2, h3, a {
  text-transform: capitalize; }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.25rem; } }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.75rem; } }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem; } }

/* Body styles */
body {
  overflow-x: hidden;
  font-family: 'Comfortaa';
  background-color: var(--secondary); }

/* Background Nav & Footer */
.bg-opacity {
  background: rgba(0, 0, 0, 0.5); }

/* Banner */
.banner-image {
  background-image: url("../assets/img/main.jpg");
  background-size: cover; }

/* Exhibitions */
@media screen and (max-width: 767px) {
  #exhibitions {
    height: auto; } }

@media screen and (min-width: 768px) {
  #exhibitions {
    height: auto; } }

@media screen and (min-width: 992px) {
  #exhibitions {
    height: 100%; } }

/* Contact */
/* Footer */
#footer {
  height: 5vh; }

.link:hover {
  color: rgba(225, 255, 0, 0.9) !important; }

.card {
  background-color: transparent;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
      margin: 10px 0; } }
  @media screen and (min-width: 768px) {
    .card {
      width: 80%;
      margin: 15px 0; } }
  @media screen and (min-width: 992px) {
    .card {
      width: 85%; } }

@media screen and (max-width: 767px) {
  .row {
    margin: 60px 0; } }

@media screen and (min-width: 768px) {
  .row {
    margin: 70px 0; } }

@media screen and (max-width: 767px) {
  .video {
    height: 350px; } }

@media screen and (min-width: 768px) {
  .video {
    height: 450px; } }

@media screen and (min-width: 992px) {
  .video {
    height: 350px; } }

.about-img {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .about-img {
      width: 50%;
      height: 350px; } }
