@import './variables';

#header {
    background-color: $secondary;
}

#footer {
    height: 10%;
    background-color: var($secondary);
}

/* Mobile styles */
@media screen and (max-width: 767px) {
    a, p, .fa {
        font-size: 1rem;
    }

    .content {
        height: 80%;
    }

    .vh-50 {
        height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    a, p, .fa {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 2.5rem;
    }
    
    .vh-50 {
        height: 60vh;
    }
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
    #header {
        height: 15%;
    }

    a, p, .fa {
        font-size: 1.5rem;
    }

    .navbar-brand {
        font-size: 3rem;
    }

    .vh-50 {
        height: 75vh;
    }
}