/* Body styles */
body {
    overflow-x: hidden;
    font-family: 'Comfortaa';
    background-color: var(--secondary);
}

/* Background Nav & Footer */
.bg-opacity {
    background: rgba($color: #000000, $alpha: 0.5);
}

/* Banner */
.banner-image {
    background-image: url("../assets/img/main.jpg");
    background-size: cover;
}

/* Exhibitions */
#exhibitions {
    @media screen and (max-width: 767px) {
        height: auto;
    }

    @media screen and (min-width: 768px) {
        height: auto;
    }
    @media screen and (min-width: 992px) {
        height: 100%;
    }
}

/* Contact */

/* Footer */
#footer {
    height: 5vh;
}